fastapi[all]
uvicorn[standard] 
python-dotenv 
langchain
langchain-google-genai
langchain-tavily
langgraph       
ultralytics        
pytesseract 
Pillow 
requests
python-multipart
streamlit            
langchain-core
youtube-transcript-api



